<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Weather info</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon>person</mat-icon> -->

    <div fxLayout="row wrap" fxLayoutGap="10px">
      <a class="link" routerLink="/home">Home</a>
      <a class="link" routerLink="/about">About</a>
      <a class="link" routerLink="/contact">contact us</a>
      <a class="link" routerLink="/admin">Admin</a>
      <a class="link" routerLink="/courses">Course</a>


    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

