<h2>{{ parentValue }}</h2>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{ student.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ student.gender }}</mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    <p>
     age: {{ student.age }}
    </p>

    <button mat-button (click)="deleteStudent(student)" color="primary">Delete student</button>
  </mat-card-content>
</mat-card>
