<!-- <app-child
  [anotherparentValue]="valueFromParent2"
  [parentValue]="valueFromParent"
>
</app-child> -->

<button mat-button (click)="AddNewStudent($event)">Add student</button>
<button mat-button (click)="updateMessage()">Update message from parent</button>
<br />
Current message: {{ currentMessageValue | uppercase }}
<div style="padding: 20px 20px" *ngFor="let stdudent of students">
  <!-- <app-child
     (deleteStudentEvent)="deleteStudent(stdudent)"
     [student]='stdudent'>
    </app-child> -->
</div>

<button mat-button (click)="ResetMessage()">Reset Message</button>

<div style="padding-left: 40px">
  <form [formGroup]="sampleForm">
    <input matInput type="text" formControlName="userName" />
  </form>

  <app-other></app-other>
</div>
